* {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding:0;
}
body{
    background: #ebebeb;
}
.title-wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.title-wrapper>a:hover{
    background-color: #e5e5e5;
    box-shadow: 5px 5px 10px 0px  rgba(0, 0, 0, 25%);

}
.title-wrapper>a{
    font-family: Courier, monospace;
    border-radius: 100%;
    color: #000;
    font-size: 1em;
    width: 1em;
    height: 1em;
    text-decoration: none;
    text-align: center;
    border: 3px solid black;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000;
    padding: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
}
header h1{
    color: whitesmoke;
}
header a{
    background-color:#ebebeb;
    color: #000;
    text-decoration: none;
    padding: 0.5em;
}
header a:hover{
    background: #c0c0c0;
}
section{
    margin: 1em;
}
section>h2{
    margin-bottom: 1em;
}
section>div{
    display: flex;
    flex-flow: row wrap;
}
section>div>article:hover{
    box-shadow: 10px 10px 10px 0px  rgba(0, 0, 0, 25%);
}

.link{
    color: #808080;
    text-decoration: none;
    margin-left: 1em;
}
#link{
    color: #808080;
    text-decoration: none;
}
section>div>article>a{
    margin-top: 1em;
    color: #808080;
    text-decoration: none;
}
section>div>article>h3{
    text-align: right;
}
section>div>article{
    box-shadow: 5px 5px 10px 0px  rgba(0, 0, 0, 25%);
    display: flex;
    flex-flow: column nowrap;
    padding: 1em;
    margin-right: 2em;
    margin-bottom: 2em;
    width: 30%;
    flex-shrink: 0;
    box-sizing: border-box;
}
.actions>div>article{
    width: 15%;

}
.actions>div>article>a{
    margin-bottom: 1em;
    color: #000;
    text-decoration: none;
}
img{
    width: 100px;
    margin: auto;
}